* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: aqua; 
    display: grid;
    grid-template-columns: 15vw 20vw;
    grid-template-areas: "nav-main popup";
}

#appetizer {
    text-align: center;
    grid-area: nav-main;
}

#popup-menu:hover {
    text-align: center;
    grid-area: popup;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#welcome {
    background-color: cadetblue;
    height: 50vh;
    padding-top: 40vh;
}

#main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#main-container * {
    width: 100vw;
    text-align: center;
}